* {
    font-family: 'Roboto';
}

body {
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}

header {
    border-radius: 5px;
    margin: auto;
    width: 40%;;
    text-align: center;
    background-color: grey;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
    padding: 10px;
}

a:hover {
    color:cadetblue;
    text-decoration: underline;
}